<fieldset>
    <legend>系统信息</legend>
    <table class="table table-hover table-bordered">
        <tbody>
        <tr>
            <th>系统名称</th>
            <th>BeeGo 博客系统</th>
        </tr>
        <tr>
            <th>程序版本</th>
            <th>{{.version}}</th>
        </tr>
        <tr>
            <th>主机名称</th>
            <th>{{.hostname}}</th>
        </tr>
        <tr>
            <th>Go 版本</th>
            <th>{{.GoVersion}}</th>
        </tr>
        <tr>
            <th>编译环境</th>
            <th>操作系统:{{.os}} ({{.arch}}), CPU数量:{{.CpuNum}}</th>
        </tr>
        </tbody>

        <tbody>
        <tr>
            <th>数据统计</th>
        </tr>
        <tr>
            <th>文章数</th>
            <th>{{.PostNum}}</th>
        </tr>
        <tr>
            <th>用户数</th>
            <th>{{.UserNum}}</th>
        </tr>
        <tr>
            <th>分类数</th>
            <th>{{.CategoryNum}}</th>
        </tr>
        </tbody>
    </table>
</fieldset>